
.container {
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 490px;
    border: 2px solid White;
    border-radius: 15px;
    background: white;
}
.logo {
    margin-bottom: 15px;
    margin-top: 0px;
    padding-top: 0;
}
.ant-form-item-control-input-content {
    flex: inherit;
    max-width: 100;
    align-items: center;
    width: 100%;
    margin:auto
}
.ant-form-item-control-input{
    width: 100%;
}



#team-create-btn{
    /* border-radius: 40px; */
    height: 40px;
    width: 90px;
    background-color: rgb(18, 141, 241);
    font-size: 10px;
    border: none;
    position: absolute;
    right: 5px;
    bottom: 5px;


}

#logout-btn{
    position: absolute;
    right: 7px;
    top: 7px;
}


#modal-input{
    margin-bottom: 20px;
}

.card-adjust {
    display:  none;
}